<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="User Authentication">
  <meta name="author" content="">

  <title>Light Dashboard</title>

  <!-- Bootstrap core CSS     -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Animation library for notifications   -->
  <link href="assets/css/animate.min.css" rel="stylesheet"/>

  <!--  Light Bootstrap Table core CSS    -->
  <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>

  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="assets/css/demo.css" rel="stylesheet" />


  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
  <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

 </head>

  <body>

  <!--where our other templates will insert-->
  {{#if user}}

  {{{body}}}

  {{else}}

  <style>
  body {
      padding: 80px;
  }
  </style>

  <div class="container">
  <div class="jumbotron text-center">
    <h2><span class="fa fa-lock"></span> Login to Dashboard</h2>
    <p>
      <a data-toggle="collapse" href="#local" class="btn btn-warning btn-md" role="button"><span class="fa fa-user"></span> Login Locally</a>
      <a href="/auth/facebook" class="btn btn-primary btn-md" role="button"><span class="fa fa-facebook"></span> Login with Facebook</a>
      <a href="/auth/twitter" class="btn btn-info btn-md" role="button"><span class="fa fa-twitter"></span> Login with Twitter</a>
      <a href="/auth/google" class="btn btn-danger btn-md" role="button"><span class="fa fa-google"></span> Login with Google</a>
      <a href="/auth/github" class="btn btn-default btn-md" role="button"><span class="fa fa-github"></span> Login with GitHub</a>
    </p>

    <div id="local" class="collapse">
      <a data-toggle="collapse" href="#local-sign-in" class="btn btn-default btn-md" role="button">I already have an account</a>
      <a data-toggle="collapse" href="#local-reg" class="btn btn-default btn-md" role="button">I need to make an account</a>
    </div>

    <form id="local-sign-in" class="collapse" action="/login" method="post">
      <div>
          <p></p>
          <label>Username:</label>
          <input type="text" name="username"/>
      </div>
      <div>
          <label>Password:</label>
          <input type="password" name="password"/>
      </div>
      <div>
          <input type="submit" class="btn btn-primary btn-sm" value="Log In"/>
      </div>
    </form>

    <form id="local-reg" class="collapse" action="/local-reg" method="post">
      <div>
          <p></p>
          <label>New Username:</label>
          <input type="text" name="username"/>
      </div>
      <div>
          <label>New Password:</label>
          <input type="password" name="password"/>
      </div>
      <div>
          <input type="submit" class="btn btn-primary btn-sm" value="Register"/>
      </div>
    </form>
  </div>
  </div>

  <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>

  <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

  {{/if}}

</html>
